html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
  margin: 0;
  padding: 0;
}

fieldset, img {
  border: none;
}

img {
  display: block;
}

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}

ul, ol {
  list-style: none;
}

input {
  padding-top: 0;
  padding-bottom: 0;
}

input::-moz-focus-inner {
  border: none;
  padding: 0;
}

select, input {
  vertical-align: middle;
}

select, input, textarea {
  margin: 0;
}

input[type="text"], input[type="password"], textarea {
  outline-style: none;
  -webkit-appearance: none;
}

textarea {
  resize: none;
}

input, textarea, button {
  background: none;
  border: none;
}

a {
  text-decoration: none;
}

body{
  background: #ccc;
}

.fl(@fl:left) {
  float: @fl;
}

.fr(@fr:right) {
  float: @fr;
}

.clear() {
  clear: both;
}
.di(){
  display: inline;
}
.dib(){
  display: inline-block;
}
.db(){
  display: block;
}
.te-r(){
  text-align: right;
}
.te-l(){
  text-align: left;
}
.te-c(){
  text-align: center;
}
.ve-t(){
  vertical-align: top;
}
.ve-m(){
  vertical-align: middle;
}
.ve-b(){
  vertical-align: bottom;
}