@defaultColor: #fff;
@headBgColor: aqua;
@buttonColor: gold;
@bottomColor: #9f9d9e;
@bottomBorder: #d4d4d4;
@highBgColor: #dbf9f4;
@highColor: #01c2a3;
@positionBorder: #f2f2f2;
@borderColor: #f3f3f3;
@tabBorderColor:#f7f7f7;
@sheetBgColor:#f1f2f3;
@sheetColor:#1063e5;
@btnBgColor:rgba(18,213,181,.2);
@formBgColor:rgba(0,0,0,.2);
@iconBgColor:rgba(0,0,0,.4);


