@import "../variable.less";

.head {
  background-color: @headBgColor;
  .h(40);
  .lh(40);
  padding: 0 7px;
  .text {
    color: @defaultColor;
  }
  .custom {
    background-color: @buttonColor;
    color: @defaultColor;
    .fs(16px);
    .fr();
    .mt(7px);
    .pl(15px);
    .pr(15px);

  }
}